@media screen{

    @font-face {
        font-family: 'n';
        src: url("../UDDigiKyokashoN-B.ttc");
    }

    body{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        font-family: n;
        background-image: url("../pic/homepg-bg.jpg");
    }

    header{
        background-color: rgb(77, 248, 43);
        height: 100px;
        font-size: 40px;
        line-height: 100px;
    }

    nav ul{
        list-style: none;
        height: 70px;
        background-color: red;
        margin: 0px;
        
    }

   
    nav li{ 
        color: black;
        text-decoration: none;
        width: 100px;
        height: 70px;
        float: left;
        margin-left: 200px;
       
    }

    .home{
        font-size: 33px;
        line-height: 60px;
    }

    .professor{
        font-size: 20px;
        line-height: 60px;
    }

    .game{
        font-size: 27px;
        line-height: 60px;
    }

    article ul{
        list-style: none;
        height: 70px;
        margin: 0px;
        
    }

   
    article li{ 
        width: 300px;
        height: 244px;
        float: left;
        margin-left: 60px;
        margin-top: 100px;
       
    }
    
    
    article{
        background-color: yellow;
        height: 600px;
        border: 2px solid black;
        font-size: 80px;
    }

    footer{
        border: 2px solid black;
        clear: left;
        height: 100px;
        background-color: aqua;
    }

    
}

