@media screen{
    @font-face {
        font-family: 'n';
        src: url("../UDDigiKyokashoN-B.ttc");
    }

    body{
        max-width: 1200px;
        margin: auto;
    }

    
    .photo{
        margin: 50px;
    }
}


