@media screen{
    @font-face {
        font-family: 'n';
        src: url("../GenSenMaruGothicJP-Bold.ttf");
    }

    body{
        max-width: 1196px;
        margin: auto;
        font-family: n;
        background-color: rgb(8, 85, 27);
    }

    article{
        
        height: 596px;
        font-size: 80px;
        text-align: center;
        color: white;
    }

    .title{
        position: relative;
        top: 50px;
    }

    ul{
        list-style: none;
    }

    li{
        position: relative;
        top: 50px;
        float: left;
        margin-left: 170px;
    }
    
}


