@media screen{

    @font-face {
        font-family: 'n';
        src: url("../GenSenMaruGothicJP-Bold.ttf");
    }
    
    body{
        max-width: 1196px;
        margin: auto;
        font-family: n;
        background-color: rgb(231, 212, 100);
    }

    article{
        width: 100%;
        position: relative;
        font-size: 35px;
        top: 50px;
        text-align: center;
    }

    

    ul{
        list-style: none;
    }

    .picleft li{
        float: left;
        width: 230px;
        height: 223px;
        position: relative;
        top: 60px;
        left: 50px;
    }

    .picright li{
        float: left;
        width: 230px;
        height: 223px;
        position: relative;
        top: 60px;
        left: 150px;
    }

   
}